# Compare MSK and Bwb Counts

This notebook compare the outputs provided by MSK with the counts obtained by running MAGeCK on CRISPR fastq files.

There are 32 total fastq.gz files they provide. There are 8 samples provided:
- DE_GFP_high
- DE_GFB_low
- E6_survival
- E8_T0
- E8_control
- IN8_treatment
- NE_GFP_high
- NE_GFP_low

## Load libraries and packages

In [3]:
import pandas as pd
import numpy as np
import glob

## Load counts from MSK

In [4]:
# Get list of all count.txt files in /MSK_counts directory
msk_count_files = glob.glob('MSK_counts/*.txt')

# Read each file into a pandas DataFrame and store them in a dictionary
msk_count_dataframes = {file: pd.read_csv(file, sep='\t') for file in msk_count_files}

# Remove "MSK_counts\\" from the keys of the dictionary
msk_count_dataframes = {key.replace('MSK_counts\\', ''): value for key, value in msk_count_dataframes.items()}

# Display the keys of the dictionary to verify
print(msk_count_dataframes.keys())

dict_keys(['DE_GFP_high.count.txt', 'DE_GFP_low.count.txt', 'E6_survival.count.txt', 'E8_control.count.txt', 'E8_T0.count.txt', 'IN8_treatment.count.txt', 'NE_GFP_high.count.txt', 'NE_GFP_low.count.txt'])

In [5]:
msk_count_dataframes['DE_GFP_high.count.txt']

                             sgRNA                   Gene  DE_GFP_high
0                     NDUFA6_12286                 NDUFA6          327
1                       GLS2_35731                   GLS2          207
2                       LDHB_10559                   LDHB          491
3                      USP30_54141                  USP30          422
4                        NVL_12949                    NVL          664
...                            ...                    ...          ...
77436            ERCC6-PGBD3_76331            ERCC6-PGBD3            0
77437           LOC101929983_76393           LOC101929983            0
77438  Non-Targeting Control_76789  Non-Targeting Control            0
77439  Non-Targeting Control_76812  Non-Targeting Control            0
77440  Non-Targeting Control_77325  Non-Targeting Control            0

[77441 rows x 3 columns]

## Load Bwb counts

Each sample has 4 associated fastq.gz files.
- Clip1…_1_...
- Clip1…_2_...
- Clip2…_1_...
- Clip2…_2_...

MAGeCK is run on each fastq.gz, obtaining 4 different count files for each sample, outputs with suffix `count.txt`. MSK has combined the four count files by adding (combining) the counts for the "sgRNA" IDs listed. Results are 3 columns (sgRNA, Gene, and counts).

In [6]:
# Get list of all count.txt files in /bwb_counts directory
bwb_count_files = glob.glob('bwb_counts/*count.txt')

# Read each file into a pandas DataFrame and store them in a dictionary
bwb_count_dataframes = {file: pd.read_csv(file, sep='\t') for file in bwb_count_files}

# Remove "bwb_counts\\" from the keys of the dictionary
bwb_count_dataframes = {key.replace('bwb_counts\\', ''): value for key, value in bwb_count_dataframes.items()}

# Display the keys of the dictionary to verify
print(bwb_count_dataframes.keys())

dict_keys(['Clip1_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip1_1_E8_T0_BC9_IGO_09496_1_S1.count.txt', 'Clip1_2_NE_GFP_high_BC11_IGO_09496_3_S3.count.txt', 'Clip1_2_NE_GFP_high_BC12_IGO_09496_4_S4.count.txt', 'Clip1_3_NE_GFP_low_BC13_IGO_09496_5_S5.count.txt', 'Clip1_3_NE_GFP_low_BC14_IGO_09496_6_S6.count.txt', 'Clip1_4_DE_GFP_high_BC15_IGO_09496_7_S7.count.txt', 'Clip1_4_DE_GFP_high_BC16_IGO_09496_8_S8.count.txt', 'Clip1_5_DE_GFP_low_BC17_IGO_09496_9_S9.count.txt', 'Clip1_5_DE_GFP_low_BC18_IGO_09496_10_S10.count.txt', 'Clip1_6_E6_survival_BC19_IGO_09496_11_S11.count.txt', 'Clip1_6_E6_survival_BC20_IGO_09496_12_S12.count.txt', 'Clip1_7_E8_control_BC21_IGO_09496_13_S13.count.txt', 'Clip1_7_E8_control_BC22_IGO_09496_14_S14.count.txt', 'Clip1_8_IN8_treatment_BC23_IGO_09496_15_S15.count.txt', 'Clip1_8_IN8_treatment_BC24_IGO_09496_16_S16.count.txt', 'Clip2_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip2_1_E8_T0_BC9_IGO_09496_1_S1.count.txt', 'Clip2_2_NE_GFP_high_BC11_IGO_09496_3_S3.count.txt', 'Clip2_2_NE_GFP_high_BC12_IGO_09496_4_S4.count.txt', 'Clip2_3_NE_GFP_low_BC13_IGO_09496_5_S5.count.txt', 'Clip2_3_NE_GFP_low_BC14_IGO_09496_6_S6.count.txt', 'Clip2_4_DE_GFP_high_BC15_IGO_09496_7_S7.count.txt', 'Clip2_4_DE_GFP_high_BC16_IGO_09496_8_S8.count.txt', 'Clip2_5_DE_GFP_low_BC17_IGO_09496_9_S9.count.txt', 'Clip2_5_DE_GFP_low_BC18_IGO_09496_10_S10.count.txt', 'Clip2_6_E6_survival_BC19_IGO_09496_11_S11.count.txt', 'Clip2_6_E6_survival_BC20_IGO_09496_12_S12.count.txt', 'Clip2_7_E8_control_BC21_IGO_09496_13_S13.count.txt', 'Clip2_7_E8_control_BC22_IGO_09496_14_S14.count.txt', 'Clip2_8_IN8_treatment_BC23_IGO_09496_15_S15.count.txt', 'Clip2_8_IN8_treatment_BC24_IGO_09496_16_S16.count.txt'])

## Combine counts for sample E8_TO

In [7]:
# Use this sample to combine its counts
sample = "E8_T0"

In [8]:
# Gather any "count.txt" files with "E8_T0" in the filename
sample_files = [file for file in bwb_count_dataframes if sample in file]
print(sample_files)

# Filter count_dataframes to only include the sample_files
sample_dataframes = {key: bwb_count_dataframes[key] for key in sample_files}
print(sample_dataframes.keys())

['Clip1_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip1_1_E8_T0_BC9_IGO_09496_1_S1.count.txt', 'Clip2_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip2_1_E8_T0_BC9_IGO_09496_1_S1.count.txt']
dict_keys(['Clip1_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip1_1_E8_T0_BC9_IGO_09496_1_S1.count.txt', 'Clip2_1_E8_T0_BC10_IGO_09496_2_S2.count.txt', 'Clip2_1_E8_T0_BC9_IGO_09496_1_S1.count.txt'])

In [9]:
sample_dataframes['Clip2_1_E8_T0_BC10_IGO_09496_2_S2.count.txt']

,sgRNA,Gene,Clip2_1_E8_T0_BC10_IGO_09496_2_S2
0,RUNDC3B_62903,RUNDC3B,136
1,OR4K17_71782,OR4K17,56
2,Non-Targeting Control_77067,Non-Targeting Control,374
3,KRT28_63549,KRT28,72
4,SLC30A6_43000,SLC30A6,37
...,...,...,...
77436,Non-Targeting Control_76932,Non-Targeting Control,0
77437,Non-Targeting Control_76996,Non-Targeting Control,0
77438,Non-Targeting Control_77290,Non-Targeting Control,0
77439,Non-Targeting Control_77324,Non-Targeting Control,0
77440,Non-Targeting Control_77325,Non-Targeting Control,0

In [10]:
# Combine the counts from all the dataframes for this sample into a single DataFrame
sample_combined_counts = pd.concat(sample_dataframes.values()).groupby(['sgRNA', 'Gene']).sum().astype(int)

# Sum the counts for each sgRNA and Gene and call this column "<sample>bwb_counts"
# combined_counts['bwb_counts'] = combined_counts.iloc[:, 2:].sum(axis=1) # Use this if sgRNA and Gene are not columns but rather index
sample_combined_counts[sample + "_bwb_counts"] = sample_combined_counts.sum(axis=1)

# At this moment, sgRNA and Gene are the index of the DataFrame and not columns. To make them columns, we can reset the index
combined_counts = sample_combined_counts.reset_index()

In [11]:
sample_combined_counts

,,Clip1_1_E8_T0_BC10_IGO_09496_2_S2,Clip1_1_E8_T0_BC9_IGO_09496_1_S1,Clip2_1_E8_T0_BC10_IGO_09496_2_S2,Clip2_1_E8_T0_BC9_IGO_09496_1_S1,E8_T0_bwb_counts
sgRNA,Gene,,,,,
1-Dec_37239,1-Dec,331,408,76,108,923
1-Dec_37240,1-Dec,1681,2065,514,606,4866
1-Dec_37241,1-Dec,752,954,264,331,2301
1-Dec_37242,1-Dec,624,859,229,284,1996
1-Mar_41331,1-Mar,316,420,94,122,952
...,...,...,...,...,...,...
ZZEF1_31850,ZZEF1,22,40,12,10,84
ZZZ3_34327,ZZZ3,9,15,3,5,32
ZZZ3_34328,ZZZ3,114,149,34,38,335
ZZZ3_34329,ZZZ3,100,122,29,40,291
ZZZ3_34330,ZZZ3,14,11,2,3,30

## Compare MSK and Bwb counts for this sample

In [12]:
# Get the dataframe from msk_count_dataframes that corresponds to the sample
msk_sample_dataframe = msk_count_dataframes[sample + ".count.txt"]

# Rename the third column to "msk_counts"
msk_sample_dataframe = msk_sample_dataframe.rename(columns={msk_sample_dataframe.columns[2]: (sample + "_msk_counts")})

In [13]:
msk_sample_dataframe

                             sgRNA                   Gene  E8_T0_msk_counts
0                     FAM25G_75475                 FAM25G                19
1                     OR51D1_71550                 OR51D1              1132
2                       HDAC1_8264                  HDAC1              1703
3      Non-Targeting Control_77214  Non-Targeting Control              6728
4                      HYAL2_22697                  HYAL2               404
...                            ...                    ...               ...
77436                TBC1D3K_76319                TBC1D3K                 0
77437                TBC1D3K_76320                TBC1D3K                 0
77438           LOC101060389_76327           LOC101060389                 0
77439                    AK6_76394                    AK6                 0
77440  Non-Targeting Control_76789  Non-Targeting Control                 0

[77441 rows x 3 columns]

In [14]:
# Combine the dataframes for this sample between the msk and bwb dataframes based on the sgRNA and Gene columns
msk_bwb_combined_counts = pd.merge(sample_combined_counts, msk_sample_dataframe, on=['sgRNA', 'Gene'], suffixes=('_msk', '_bwb'), how='outer')

In [15]:
msk_bwb_combined_counts

,sgRNA,Gene,Clip1_1_E8_T0_BC10_IGO_09496_2_S2,Clip1_1_E8_T0_BC9_IGO_09496_1_S1,Clip2_1_E8_T0_BC10_IGO_09496_2_S2,Clip2_1_E8_T0_BC9_IGO_09496_1_S1,E8_T0_bwb_counts,E8_T0_msk_counts
0,1-Dec_37239,1-Dec,331,408,76,108,923,923
1,1-Dec_37240,1-Dec,1681,2065,514,606,4866,4866
2,1-Dec_37241,1-Dec,752,954,264,331,2301,2301
3,1-Dec_37242,1-Dec,624,859,229,284,1996,1996
4,1-Mar_41331,1-Mar,316,420,94,122,952,952
...,...,...,...,...,...,...,...,...
77436,ZZEF1_31850,ZZEF1,22,40,12,10,84,84
77437,ZZZ3_34327,ZZZ3,9,15,3,5,32,32
77438,ZZZ3_34328,ZZZ3,114,149,34,38,335,335
77439,ZZZ3_34329,ZZZ3,100,122,29,40,291,291
77440,ZZZ3_34330,ZZZ3,14,11,2,3,30,30

In [16]:
# Get how many matches there are in msk and bwb counts for the sample
matches = msk_bwb_combined_counts[msk_bwb_combined_counts[sample + "_msk_counts"] == msk_bwb_combined_counts[sample + "_bwb_counts"]].shape[0]

# Get how many non-matches there are
non_matches = msk_bwb_combined_counts[msk_bwb_combined_counts[sample + "_msk_counts"] != msk_bwb_combined_counts[sample + "_bwb_counts"]].shape[0]

In [17]:
print(f"Matches: {matches}")
print(f"Non-matches: {non_matches}")

Matches: 77441
Non-matches: 0

## ... How about the other 7 samples?

Commands used in E8_T0 will be put into functions for the other 7 samples

- DE_GFP_high
- DE_GFB_low
- E6_survival
- E8_control
- IN8_treatment
- NE_GFP_high
- NE_GFP_low

In [18]:
# Create a function that takes in a sample name and the msk and bwb dataframes and returns the combined counts
def combine_counts(sample, msk_count_dataframes, bwb_count_dataframes):
    # Gather any "count.txt" files with the sample name in the filename from the bwb dataframes
    sample_files = [file for file in bwb_count_dataframes if sample in file]
    
    # Filter count_dataframes to only include the sample_files from the bwb dataframes
    sample_dataframes = {key: bwb_count_dataframes[key] for key in sample_files}
    
    # Combine the counts from all the dataframes for this sample into a single DataFrame
    sample_combined_counts = pd.concat(sample_dataframes.values()).groupby(['sgRNA', 'Gene']).sum().astype(int)
    
    # Sum the counts for each sgRNA and Gene and call this column "<sample>bwb_counts"
    sample_combined_counts[sample + "_bwb_counts"] = sample_combined_counts.sum(axis=1)
    
    # At this moment, sgRNA and Gene are the index of the DataFrame and not columns. To make them columns, we can reset the index
    sample_combined_counts = sample_combined_counts.reset_index()
    
    # Get the dataframe from msk_count_dataframes that corresponds to the sample
    msk_sample_dataframe = msk_count_dataframes[sample + ".count.txt"]
    
    # Rename the third column to "msk_counts"
    msk_sample_dataframe = msk_sample_dataframe.rename(columns={msk_sample_dataframe.columns[2]: (sample + "_msk_counts")})
    
    # Combine the dataframes for this sample between the msk and bwb dataframes based on the sgRNA and Gene columns
    msk_bwb_combined_counts = pd.merge(sample_combined_counts, msk_sample_dataframe, on=['sgRNA', 'Gene'], suffixes=('_msk', '_bwb'), how='outer')
    
    return msk_bwb_combined_counts

In [19]:
# Test the function with the other sample
E8_T0_counts = combine_counts("E8_T0", msk_count_dataframes, bwb_count_dataframes)
DE_GFP_high_counts = combine_counts("DE_GFP_high", msk_count_dataframes, bwb_count_dataframes)
DE_GFP_low_counts = combine_counts("DE_GFP_low", msk_count_dataframes, bwb_count_dataframes)
E6_survival_counts = combine_counts("E6_survival", msk_count_dataframes, bwb_count_dataframes)
E8_control_counts = combine_counts("E8_control", msk_count_dataframes, bwb_count_dataframes)
IN8_treatment_counts = combine_counts("IN8_treatment", msk_count_dataframes, bwb_count_dataframes)
NE_GFP_high_counts = combine_counts("NE_GFP_high", msk_count_dataframes, bwb_count_dataframes)
NE_GFP_low_counts = combine_counts("NE_GFP_low", msk_count_dataframes, bwb_count_dataframes)

In [20]:
E8_control_counts

,sgRNA,Gene,Clip1_7_E8_control_BC21_IGO_09496_13_S13,Clip1_7_E8_control_BC22_IGO_09496_14_S14,Clip2_7_E8_control_BC21_IGO_09496_13_S13,Clip2_7_E8_control_BC22_IGO_09496_14_S14,E8_control_bwb_counts,E8_control_msk_counts
0,1-Dec_37239,1-Dec,60,61,21,24,166,166
1,1-Dec_37240,1-Dec,765,769,272,271,2077,2077
2,1-Dec_37241,1-Dec,526,458,170,144,1298,1298
3,1-Dec_37242,1-Dec,575,479,203,195,1452,1452
4,1-Mar_41331,1-Mar,74,69,22,21,186,186
...,...,...,...,...,...,...,...,...
77436,ZZEF1_31850,ZZEF1,138,112,50,56,356,356
77437,ZZZ3_34327,ZZZ3,3,6,2,3,14,14
77438,ZZZ3_34328,ZZZ3,37,47,18,13,115,115
77439,ZZZ3_34329,ZZZ3,73,51,28,31,183,183
77440,ZZZ3_34330,ZZZ3,23,17,8,11,59,59

In [21]:
DE_GFP_high_counts

,sgRNA,Gene,Clip1_4_DE_GFP_high_BC15_IGO_09496_7_S7,Clip1_4_DE_GFP_high_BC16_IGO_09496_8_S8,Clip2_4_DE_GFP_high_BC15_IGO_09496_7_S7,Clip2_4_DE_GFP_high_BC16_IGO_09496_8_S8,DE_GFP_high_bwb_counts,DE_GFP_high_msk_counts
0,1-Dec_37239,1-Dec,163,269,49,79,560,560
1,1-Dec_37240,1-Dec,903,1464,331,517,3215,3215
2,1-Dec_37241,1-Dec,644,977,212,290,2123,2123
3,1-Dec_37242,1-Dec,479,733,167,248,1627,1627
4,1-Mar_41331,1-Mar,120,204,46,65,435,435
...,...,...,...,...,...,...,...,...
77436,ZZEF1_31850,ZZEF1,47,71,22,25,165,165
77437,ZZZ3_34327,ZZZ3,0,0,1,1,2,2
77438,ZZZ3_34328,ZZZ3,86,145,47,49,327,327
77439,ZZZ3_34329,ZZZ3,82,108,34,43,267,267
77440,ZZZ3_34330,ZZZ3,55,83,14,28,180,180

In [24]:
# For each of the samples, determine how many matches and non-matches there are
samples = [E8_T0_counts, DE_GFP_high_counts, DE_GFP_low_counts, E6_survival_counts, E8_control_counts, IN8_treatment_counts, NE_GFP_high_counts, NE_GFP_low_counts]
sample_names = ["E8_T0", "DE_GFP_high", "DE_GFP_low", "E6_survival", "E8_control", "IN8_treatment", "NE_GFP_high", "NE_GFP_low"]

for i in range(len(samples)):
    sample = samples[i]
    matches = sample[sample[sample.columns[-1]] == sample[sample.columns[-2]]].shape[0]
    non_matches = sample[sample[sample.columns[-1]] != sample[sample.columns[-2]]].shape[0]
    print(f"Sample: {sample_names[i]}")
    print(f"Matches: {matches}")
    print(f"Non-matches: {non_matches}")

Sample: E8_T0
Matches: 77441
Non-matches: 0
Sample: DE_GFP_high
Matches: 77441
Non-matches: 0
Sample: DE_GFP_low
Matches: 77441
Non-matches: 0
Sample: E6_survival
Matches: 77441
Non-matches: 0
Sample: E8_control
Matches: 77441
Non-matches: 0
Sample: IN8_treatment
Matches: 77441
Non-matches: 0
Sample: NE_GFP_high
Matches: 77441
Non-matches: 0
Sample: NE_GFP_low
Matches: 77441
Non-matches: 0